// Name:            Upload
// Description:     Components to create upload
//
// Component:       `vh-upload-*`
//
// Sub-objects:     `vh-upload-file`
//                  `vh-upload-label`
//                  `vh-upload-close`
//
// ========================================================================


// Variables
// ========================================================================

$upload-background:                     #E5E5E5 !default;

$upload-label-color:                    color(default) !default;
$upload-label-font-size:                0.8rem !default;

/* ==================================================
    Component: Upload
   ================================================== */ 

/*
 * 1. Set a dimension
 * 2. Make the child items vertical & horizontal center
 * 3. Style
 */
.vh-upload{
    /* 1 */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    /* 2 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 3 */
    position: relative;
    background-color: $upload-background;
}

/*
 * Mask the content of color
 * 1. Hide by default
 */
.vh-upload::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.15s linear;
    background-color: transparentize(color(primary), 0.5);
    /* 1 */
    opacity: 0;
}

/* Show */
.vh-upload:hover::before{
    opacity: 1;
}



/* Item
   ================================================== */ 

.vh-upload-file{
    text-align: center;
}

/*
 * 1. % of parent width
 * 2. If the label characters exceed to the container, make it hide and ellipsis
 * 3. Style
 */
 
.vh-upload-file .vh-upload-label{
    /* 1 */
    width: 90%;
    /* 2 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* 3 */
    color: $upload-label-color;
    margin: 0;
    font-size: $upload-label-font-size;
}

.vh-upload-file div > .vh-upload-label{
    padding: 0px 4px;
}

/*
 * If the child <img> or <video> make it fit to the container.
 */
.vh-upload img,
.vh-upload video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/* Close
   ================================================== */ 

/*
 * 1. Hide by default
 * 2. Set position
 * 3. Set dimension
 * 4. Set layer
 * 5. Style
 */
.vh-upload-close{
    /* 1 */
    display: none;
    /* 2 */
    position: absolute;
    /* 3 */
    height: fit-content;
    width: fit-content;
    /* 4 */
    z-index: 200;
    /* 5 */
    color: transparentize(color(inverse), 0.2)!important;
    text-decoration: underline;
}

/* Hover and Focus */
.vh-upload-close:hover,
.vh-upload-close:focus{
    text-decoration: underline;
    color: transparentize(color(inverse), 0)!important;
}

/* Show */
.vh-upload:hover .vh-upload-close{
    display: block;
}



/* Button
 * Adopts `vh-button` default style
   ================================================== */ 

/*
 * 1. Set border-box to amke the border inside
 * 2. Maximize the height and width of the parent
 * 3. Set the content to be vertical and horizontal center
 * 4. Style
 */
.vh-button.vh-upload-button{
    /* 1 */
    box-sizing: border-box;
    border: dashed 2px #E5E5E5;
    /* 2 */
    height: 100%;
    width: 100%;
    /* 3 */
    display: flex;
    align-items: center;
    justify-content: center;
    /* 4 */
    background: transparent;
    color: color(muted);
    overflow: hidden;
}

/* Hover + Focus */
.vh-button.vh-upload-button:hover,
.vh-button.vh-upload-button:focus{
    border-color: darken(#E5E5E5, 10%);
    color: color(default);
}