// Name:            Container
// Description:     Utilities for text
//
// Component:       `vh-text-*`
//
// ========================================================================


// Variables
// ========================================================================

$text-lead-font-size:                       font-size(large) !default;
$text-lead-line-height:                     1.5 !default;
$text-lead-color:                           color(emphasis) !default;

$text-meta-font-size:                       font-size(small) !default;
$text-meta-line-height:                     1.4 !default;
$text-meta-color:                           color(muted) !default;

$text-small-font-size:                      font-size(small) !default;
$text-small-line-height:                    1.5 !default;

$text-large-font-size:                      font-size(large) !default;
$text-large-line-height:                    1.5 !default;

$text-bold-font-weight:                     font-weight(black) !default;

$text-background-color:                     theme-color(primary) !default;



/* ==================================================
    Component: Text
   ================================================== */    

.vh-text-lead{
    font-size: $text-lead-font-size;
    line-height: $text-lead-line-height;
    color: $text-lead-color;
}

.vh-text-meta{
    font-size: $text-meta-font-size;
    line-height: $text-meta-line-height;
    color: $text-meta-color;
}

.vh-text-title{
    font-family: Oswald;
    font-size: 30px;
    line-height: $text-lead-line-height;
    color: color(primary);
    font-weight: bolder;
}


/* Style modifiers
   ================================================== */

.vh-text-bold{
    font-weight: $text-bold-font-weight;
}

.vh-text-italic{
    font-style: italic;
}

.vh-text-oblique{
    font-style: oblique;
}

.vh-text-underline{
    text-decoration: underline;
}



/* Transform modifiers
   ================================================== */

.vh-text-uppercase{
    text-transform: uppercase !important;
}

.vh-text-capitalize{
    text-transform: capitalize !important;
}

.vh-text-lowercase{
    text-transform: lowercase !important;
}



/* Color modifiers
   ================================================== */

@include create-text-modifiers(text);



/* Background modifiers
   ================================================== */

/*
 * 1. The background clips to the foreground text. Works in Chrome, Firefox, Safari, Edge and Opera
 *    Default color is set to transparent
 * 2. Container fills the text
 * 3. Fallback color for IE11
 */

.vh-text-background{
    /* 1 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* 2 */
    display: inline-block;
    /* 3 */
    color: $text-background-color;
}

@supports (-webkit-background-clip: text){
    .vh-text-background{
        background-color: $text-background-color;
    }
}



/* Alignment modifiers
   ================================================== */

.vh-text-left{
    text-align: left !important;
}

.vh-text-right{
    text-align: right !important;
}

.vh-text-center{
    text-align: center !important;
}

.vh-text-justify{
    text-align: justify !important;
}

/* Phone landscape and bigger */
@include respond-to(small){
    
    .vh-text-left\@s{
        text-align: left !important;
    }
    
    .vh-text-right\@s{
        text-align: right !important;
    }
    
    .vh-text-center\@s{
        text-align: center !important;
    }

}

/* Tablet landscape and bigger */
@include respond-to(medium){
    
    .vh-text-left\@m{
        text-align: left !important;
    }
    
    .vh-text-right\@m{
        text-align: right !important;
    }
    
    .vh-text-center\@m{
        text-align: center !important;
    }
    
}

/* Desktop  and bigger */
@include respond-to(large){
    
    .vh-text-left\@l{
        text-align: left !important;
    }
    
    .vh-text-right\@l{
        text-align: right !important;
    }
    
    .vh-text-center\@l{
        text-align: center !important;
    }
    
}

/* Desktop  and bigger */
@include respond-to(large){
    
    .vh-text-left\@xl{
        text-align: left !important;
    }
    
    .vh-text-right\@xl{
        text-align: right !important;
    }
    
    .vh-text-center\@xl{
        text-align: center !important;
    }
    
}



/* Vertical modifiers
   ================================================== */

.vh-text-top{
    vertical-align: top !important;
}

.vh-text-middle{
    vertical-align: middle !important;
}

.vh-text-bottom{
    vertical-align: bottom !important;
}

.vh-text-baseline{
    vertical-align: baseline !important;
}



/* Wrap modifiers
   ================================================== */

/*
 * Prevent text from wrapping into multiple lines
 */

.vh-text-nowrap{
    white-space: nowrap;
}


/*
 * 1. Make sure a max-width is set after which truncation can occur
 * 2. Prevent text from wrapping onto multiple lines, and truncate with an ellipsis
 * 3. Fix for table cells
 */

.vh-text-truncate{
    /* 1 */
    max-width: 100%;
    /* 2 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 3 */
th.vh-text-truncate,
td.vh-text-truncate{
    max-width: 0;
}

/*
 * 1. Wrap long words onto the next line and break them if they are too long to fit
 * 2. Legacy `word-wrap` as fallback for `overflow-wrap`
 * 3. Fix `overflow-wrap` which doesn't work with table cells in Chrome, Opera, IE11, and Edge
 *    Must use `break-all` to support IE11 and Edge
 * Note: Not using `hypens: auto;` because it hypenates text even if not needed.
 */

.vh-text-break{
    /* 1 */
    overflow-wrap: break-word;
    /* 2 */
    word-wrap: break-word;
}

/* 3 */
th.vh-text-break,
td.vh-text-break{
    word-break: break-all;
}